<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background: url('../Pictures/BGSP.jpg') no-repeat center center fixed;
      background-size: cover;
      height: 100%;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .navbar-brand {
      font-size: 2rem;
    }
    .nav-link {
      margin-left: 2.5rem;
      font-size: 1.25rem;
    }
    .card-img-top {
      border-radius: 150px;
      border: none;
    }
    .card {
      border: none;
      background: none;
      width: 30%;
      max-width: 500px;
    }
    .overlay-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: auto;
      padding: 5px;
      border-radius: 50px;
      background: white;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    }
    .tab {
      background-color: white;
      padding: 20px;
      border-radius: 70px;
      margin-bottom: 20px;
    }
    .form-info {
      padding: 10px;
      margin-bottom: 20px;
    }
    .shelf {
      border-top: 2px solid lightgray;
      padding: 40px;
    }
    main {
      flex-grow: 1; /* Pushes the footer down */
    }
  </style>
</head>
<body>

<main>
<div>
  <a class="navbar-brand" href="home.html" style="color: white; position: relative; top: 20px; left: 30px;">PayPlay</a>
  <div class="container my-5 d-flex justify-content-center flex-column flex-lg-row">

    <div class="tab col-12 col-lg-6" style="padding: 20px; border-radius: 40px 0 0 40px">
      <div style="justify-items: center">
        <nav style="margin-top: 20px; --bs-breadcrumb-divider: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27><path d=%27M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%27 fill=%27%236c757d%27/></svg>');" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="cart.html" class="text-decoration-none">Cart</a></li>
            <li class="breadcrumb-item active fw-bold text-black" aria-current="page">Details</li>
            <li class="breadcrumb-item text-secondary">Shipping</li>
            <li class="breadcrumb-item text-secondary">Payment</li>
          </ol>
        </nav>
      </div>
      <div>
        <div style="margin-top: 20px;">
          <span class="ms-4" style="margin-left: -8px; font-size: 16px; font-weight: bold; display: inline-block;">Contact</span>
          <div style="padding-left: 20px; padding-right: 20px">
            <input class="form-info form-control me-2" type="search" placeholder="Email or mobile phone number" aria-label="Code" style="width: calc(100% - 8px);">
          </div>
        </div>
      </div>
      <div>
        <div style="margin-top: 20px;">
          <span class="ms-4" style="font-size: 16px; font-weight: bold; display: inline-block;">Shipping Address</span>
        </div>
        <div style="padding-left: 20px; padding-right: 20px">
          <div class="d-flex align-items-center" style="width: 100%; margin-top: 10px;">
            <input class="form-info form-control me-2" type="search" placeholder="Name" aria-label="Code" style="width: calc(50% - 8px);">
            <input class="form-info form-control me-2" type="search" placeholder="Last Name" aria-label="Code" style="width: calc(50% - 8px);">
          </div>
          <div class="d-flex align-items-center" style="width: 100%">
            <input class="form-info form-control me-2" type="search" placeholder="Phone Number" aria-label="Code" style="width: 100%;">
          </div>
          <div class="d-flex align-items-center" style="width: 100%">
            <input class="form-info form-control me-2" type="search" placeholder="Shipping note (Optional)" aria-label="Code" style="width: 100%;">
          </div>
          <div class="d-flex align-items-center" style="width: 100%">
            <input class="form-info form-control me-2" type="search" placeholder="City" aria-label="Code" style="width: calc(33.33% - 8px);">
            <input class="form-info form-control me-2" type="search" placeholder="Postal Code" aria-label="Code" style="width: calc(33.33% - 8px);">
            <input class="form-info form-control me-2" type="search" placeholder="Address" aria-label="Code" style="width: calc(33.33% - 8px);">
          </div>
          <div class="d-flex align-items-center" style="width: 100%">
            <input class="form-info form-control me-2" type="search" placeholder="Country" aria-label="Code" style="width: 100%;">
          </div>
          <div class="d-flex" style="width: 100%; margin-top: 20px; justify-content: center; gap: 5%">
            <a href="cart.html" class="btn btn-light btn-md text-black px-4 py-2" style="border-radius: 50px; text-decoration: none; color: inherit; width: 45%">
              Back to Cart
            </a>
            <a href="shipping.html" class="btn btn-light btn-md text-black px-4 py-2" style="border-radius: 50px; text-decoration: none; color: inherit;; width: 45%">
              Go to Shipping
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="tab col-12 col-lg-6" style="padding: 20px; border-radius: 0 40px 40px 0">
      <div style="display: flex; margin-bottom: 15px;">
        <div class="card">
          <img src="../Pictures/Games/CBP.png" class="card-img-top" alt="...">
          <div class="card-img-overlay">
            <img src="../Pictures/Logos/playstation-logotype.png" class="overlay-img" alt="Overlay Image">
          </div>
        </div>
      </div>
      <div class="shelf" style="width: 100%">
        <div class="d-flex justify-content-between" style="width: 100%;">
          <span class="ms-4" style="font-size: 16px; font-weight: bold;">Subtotal</span>
          <span class="me-4" style="font-size: 16px; font-weight: bold;">59.99 €</span>
        </div>
        <div class="d-flex justify-content-between" style="width: 100%;">
          <span class="ms-4" style="font-size: 16px; font-weight: bold; display: block;">Shipping</span>
          <span class="ms-4" style="margin-right: 22px; font-size: 15px; display: block;">Calculated at the next step</span>
        </div>
      </div>
      <div class="shelf d-flex justify-content-between" style="width: 100%">
        <span class="ms-4" style="font-size: 20px; font-weight: bold; display: block;">Total</span>
        <span class="ms-4" style="font-size: 20px; font-weight: bold; display: block; margin-right: 22px;">59.99 €</span>
      </div>
    </div>
  </div>
</div>
</main>

<footer class="py-0 my-4 mb-0">
  <div class="bg-dark">
    <div class="container">
      <footer class="py-4 bg-dark" style="padding-top: 20px">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
        </ul>
        <p class="text-center text-light">© 2025 PayPlay</p>
      </footer>
    </div>
  </div>
</footer>

</body>
</html>
