<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - PayPlay</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/reglog.css">
</head>
<body>
<a class="logo" href="home.html">PayPlay</a>

<a href="register.html" class="button-sign">Sign Up</a>

<div class="container">
    <h2>Sign In to PayPlay</h2>
    <p>"Unlock New Worlds – The Best Games, All in One Place!"</p>

    <div class="input-container">
        <label>Email Address</label>
        <label>
            <input type="email" placeholder="Email Address" value="">
        </label>
    </div>

    <div class="input-container">
        <label>Password</label>
        <label>
            <input type="password" placeholder="Password" value="">
        </label>
    </div>

    <button>Sign In</button>
</div>
</body>
</html>