body {
    font-family: 'Poppins', sans-serif;
    background: url('../pictures/BGSP.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
.navbar-brand {
    font-size: 2rem;
}
.nav-link {
    margin-left: 2.5rem;
    font-size: 1.25rem;
}
.payPlay-logo {
    color: white;
    position: relative;
    top: 10px;
    left: 50px;
}
.payPlay-logo:hover {
    color: white;
    text-decoration: underline;
}
.card-img-top {
    border-radius: 150px;
}
.card {
    border: none;
    width: 30%;
    max-width: 500px;
}
.overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: auto;
    padding: 5px;
    border-radius: 50px;
    background: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.tab-left {
    background-color: white;
    padding: 20px;
    border-radius: 40px 0 0 40px;
    margin-bottom: 20px;
}
.tab-right {
    background-color: white;
    padding: 20px;
    border-radius: 0 40px 40px 0;
    margin-bottom: 20px;
}
.bread-crumbs{
    margin-top: 20px;
    --bs-breadcrumb-divider: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27><path d=%27M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%27 fill=%27%236c757d%27/></svg>');
}
.previous-info{
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px
}
.shelf {
    border-top: 2px solid lightgray;
    padding: 40px;
}
.double-info{
    width: calc(50% - 8px)
}
.blue{
    color: #7a5cff
}
.double-button{
    border-radius: 80px;
    width: 45%;
}
.radio-choice {
    border: 1px solid lightgray;
    margin-top: 15px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.single-info{
    width: calc(100% - 8px)
}
.double-info{
    width: calc(50% - 8px)
}
.triple-info{
    width: calc(33.33% - 8px)
}